.footer-container {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5.7%;
  margin-right: -0.8%;
}
.footercard {
  width: 63%;
  background-color: #5EB5D7;
  color: white;
  padding: 20px;
}
.footer h3 {
  margin-top: 0;
}
.footer p {
  margin-bottom: 0;
}
.footer .footercard {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.footer .footercard h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.footer .footercard p {
  font-size: 16px;
}
.copyright {
  background-color: #5EB5D7;
  text-align: center;
  padding: 30px 0px;
  font-size: 14px;
  color: white;
}
@media (max-width: 1540px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-left: 11.2%;
    margin-right: 2%;
  }
  .footercard {
    margin-left: 0;
    width: 100%;
    margin-bottom: 20px;
  }
}
.footer h1 {
  color: white;
  font-size: 28px;
  margin-top: 10px;
  text-align: center;
}
.footer p {
  line-height: 1.5;
}
.footer .footercard {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.footer .footercard h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.footer .footercard p {
  font-size: 16px;
}
.footer .copyright {
  background-color: #D79C5E;
  text-align: center;
  padding: 15px 0px;
  font-size: 14px;
}
.footercard {
  margin-left: 8%;
  width: 65%;
  background-color: #5EB5D7;
  text-align: center;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}
@media (width: 1540px) {
  .footercard {
    margin-left: -1%;
    width: 90%;
    text-align: center;
  }
}
@media (width: 1280px) {
  .footercard {
    margin-left: -6.8%;
    width: 85%;
    text-align: center;
  }
  .footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width: 820px) {
  .footercard {
    margin-left: -6.8%;
    width: 85%;
    text-align: center;
  }
  .footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (width: 834px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-left: 11.2%;
  }
}
@media (max-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-left: 8.2%;
    margin-top: 4%;
  }
  .footercard {
    width: 70%;
    text-align: center;
  }
}

@media (width: 1024px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 8%;
    margin-right: 7%;
  }
  .footercard {
    width: 100%;
    text-align: center;
  }
}